
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Formコンポーネント | Symfony2日本語ドキュメント</title>
    <link rel="stylesheet" href="../../static/basic.css" type="text/css" />
    <link rel="stylesheet" href="../../static/pygments.css" type="text/css" />
    <link rel="stylesheet" href="../../static/configurationblock.css" type="text/css" />
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '1.0.0',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../static/jquery.js"></script>
    <script type="text/javascript" src="../../static/underscore.js"></script>
    <script type="text/javascript" src="../../static/doctools.js"></script>
      <script type="text/javascript" src="../../static/js/jquery.corner.js"></script>
      <script type="text/javascript" src="../../static/configurationblock.js"></script>
      <script type="text/javascript">
      $(function(){
          $('.section h1').corner();
          $('.highlight-python pre').corner();
          $('.highlight-yml pre').corner();
          $('.highlight').corner();
      });
      </script>
    <link rel="top" title="Symfony2Doc 1.0.0 documentation" href="../../index.html" />
    <link rel="up" title="Form" href="index.html" />
    <link rel="next" title="Processコンポーネント" href="../process.html" />
    <link rel="prev" title="Form" href="index.html" /> 
  </head>
  <body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=47270766548";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="all">
  <div id="content">
    <div id="content_wrapper">
      <div id="top_menu">
        <div id="top_menu_wrapper">
        </div>
      </div>
      <div id="header_top">
        <h1 id="logo_top"><a href="http://docs.symfony.gr.jp/">Symfonyユーザー会ドキュメントポータル</a></h1>
        <div id="header_top_left"></div>
      </div>
      <!-- end #header -->
      <div id="navbar">
        <ul>
          <li><a href="../../index.html">トップ（索引）</a></li>
          <li><a href="../../quick_tour/index.html">クイックツアー</a></li>
          <li><a href="../../book/index.html">ガイドブック</a></li>
          <li><a href="../../cookbook/index.html">クックブック</a></li>
          <li><a href="../index.html">コンポーネント</a></li>
          <li><a href="../../reference/index.html">リファレンス</a></li>
          <li><a href="../../contributing/index.html">貢献</a></li>
        </ul>
      </div>
      <!-- end #navbar -->
      <div id="main">  
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3>このページのコンテンツ</h3>
  <ul>
<li><a class="reference internal" href="#">Formコンポーネント</a><ul>
<li><a class="reference internal" href="#id1">インストール</a></li>
<li><a class="reference internal" href="#id2">初期設定</a><ul>
<li><a class="reference internal" href="#request">Requestハンドリング</a></li>
<li><a class="reference internal" href="#csrf">CSRFプロテクション</a></li>
<li><a class="reference internal" href="#twig">Twigテンプレーティング</a></li>
<li><a class="reference internal" href="#component-form-intro-install-translation">翻訳</a></li>
<li><a class="reference internal" href="#id8">バリデーション</a></li>
<li><a class="reference internal" href="#id9">フォームファクトリへのアクセス</a></li>
</ul>
</li>
<li><a class="reference internal" href="#component-form-intro-create-simple-form">シンプルなフォームの作成</a><ul>
<li><a class="reference internal" href="#id15">デフォルト値の設定</a></li>
<li><a class="reference internal" href="#component-form-intro-rendering-form">フォームのレンダリング</a></li>
<li><a class="reference internal" href="#component-form-intro-handling-submission">送信データの取り扱い</a></li>
<li><a class="reference internal" href="#component-form-intro-validation">バリデーション</a></li>
</ul>
</li>
</ul>
</li>
</ul>

  <h4>前のドキュメント</h4>
  <p class="topless"><a href="index.html"
                        title="previous chapter">Form</a></p>
  <h4>次のドキュメント</h4>
  <p class="topless"><a href="../process.html"
                        title="next chapter">Processコンポーネント</a></p>
  <h3>ソース</h3>
  <ul class="this-page-menu">
    <li><a href="../../sources/components/form/introduction.txt"
           rel="nofollow">ページのソースを表示</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>クイック検索</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" size="18" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
          <br />
          <br />
          <div id="other">
            <h3>クイックリンク</h3>
            <ul>
              <li><a href="../../book/installation.html">インストール方法</a></li>
              <li><a href="../../reference/forms/types.html">FormTypeリファレンス</a></li>
              <li><a href="../../reference/constraints.html">バリデータリファレンス</a></li>
              <li><a href="http://twig.sensiolabs.org/documentation">Twigリファレンス</a></li>
              <li><a href="http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/annotations-reference.html">Doctrine ORMアノテーションリファレンス</a></li>
            </ul>

<br />
            <h3>コメントリスト</h3>

<script type="text/javascript" src="http://symfony-japan.disqus.com/combination_widget.js?num_items=10&hide_mods=0&color=grey&default_tab=recent&excerpt_length=200"></script><a href="http://disqus.com/">Powered by Disqus</a>


            <br />
            <p>ご質問や翻訳不備等お気軽にコメントください。</p>

            <br />
          </div>
        </div>
      </div>

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            

<p>コンテンツ上部に更新日の記載のないページは、翻訳の内容が2.0相当のものになっております。最新の内容は<a href="http://symfony.com/doc/current/components/form/introduction.html">原文のページ</a>をご確認ください。</p>

  <div class="admonition note" id="index-0">
<p class="first admonition-title">Note</p>
<ul class="last simple">
<li>対象バージョン：2.3</li>
<li>翻訳更新日：2013/10/02</li>
</ul>
</div>
<div class="section" id="form">
<h1>Formコンポーネント<a class="headerlink" href="#form" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div>Formコンポーネントを使うと、再利用可能なHTMLフォームを簡単に作ることができます。</div></blockquote>
<p>フォームはエンドユーザからのデータ入力を受け付け、アプリケーションのデータを変更するための機能です。
一般的にフォームというと、HTMLフォームを指すことが多いですが、Formコンポーネントではクライアントとアプリケーション間で送受信されたデータを、送信形態に関わらず処理することに焦点を当てています。</p>
<div class="section" id="id1">
<h2>インストール<a class="headerlink" href="#id1" title="Permalink to this headline">¶</a></h2>
<p>Formコンポーネントは以下の方法でインストールができます。</p>
<ul class="simple">
<li>公式Gitリポジトリ (<a class="reference external" href="https://github.com/symfony/Form">https://github.com/symfony/Form</a>);</li>
<li>Composerを使ってインストール (<cite>Packagist</cite> の <tt class="docutils literal"><span class="pre">symfony/form</span></tt>).</li>
</ul>
</div>
<div class="section" id="id2">
<h2>初期設定<a class="headerlink" href="#id2" title="Permalink to this headline">¶</a></h2>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p class="last">Symfony Standard Editionを使用していれば、既にFormコンポーネントを使うための基本的な設定がされています。
このセクションをスキップする場合は <a class="reference internal" href="#component-form-intro-create-simple-form"><em>シンプルなフォームの作成</em></a> に進んで下さい。</p>
</div>
<p>Symfony2ではフォームは<em>フォームファクトリ</em>によって構築されるオブジェクトでできています。フォームファクトリの生成はとてもシンプルです:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Form\Forms</span><span class="p">;</span>

<span class="nv">$formFactory</span> <span class="o">=</span> <span class="nx">Forms</span><span class="o">::</span><span class="na">createFormFactory</span><span class="p">();</span>
</pre></div>
</div>
<p>このファクトリでも基本的なフォームを作ることができますが、以下に挙げる重要な機能をサポートしていません。</p>
<ul class="simple">
<li><strong>Requestハンドリング:</strong> リクエストの処理とファイルアップロードの処理をサポート;</li>
<li><strong>CSRFプロテクション:</strong> クロスサイトリクエストフォージェリ攻撃への対策;</li>
<li><strong>テンプレーティング:</strong> フォームのレンダリングに使用するHTMLの断片化と再利用を可能にするテンプレーティングレイヤを統合;</li>
<li><strong>翻訳:</strong> エラーメッセージやフィールドラベルなどの多言語化の対応;</li>
<li><strong>バリデーション:</strong> 送信されたデータを検証し、エラーメッセージを生成するバリデーションライブラリを統合;</li>
</ul>
<p>Formコンポーネントでこれらの機能を使うには他のライブラリとの連携が必要となります。
最も利用されるライブラリはTwigおよびSymfonyの <tt class="xref doc docutils literal"><span class="pre">HttpFoundation</span></tt>、
Translation、Validatorコンポーネントですが、これらは自分で選んだ他のライブラリに置き換えることも可能です。</p>
<p>次のセクションでは、これらのライブラリをフォームファクトリに組み込む手順を説明します。</p>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p class="last">実装例は <a class="reference external" href="https://github.com/bschussek/standalone-forms">https://github.com/bschussek/standalone-forms</a> で見ることができます。</p>
</div>
<div class="section" id="request">
<h3>Requestハンドリング<a class="headerlink" href="#request" title="Permalink to this headline">¶</a></h3>
<p>フォームのデータを処理するには、リクエストされた情報（通常は <tt class="docutils literal"><span class="pre">$_POST</span></tt>）を補足し、
<a href="#id3"><span class="problematic" id="id4">:method:`Symfony\\Component\\Form\\Form::bind`</span></a> メソッドに送信された配列データを渡す必要があります。
Formコンポーネントはこれをより簡単にするためにSymfonyの <tt class="xref doc docutils literal"><span class="pre">HttpFoundation</span></tt> コンポーネントとの連携が可能です。</p>
<p>HttpFoundationコンポーネントと連携するにはフォームファクトリに <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\Form\Extension\HttpFoundation\HttpFoundationExtension</span></tt> を追加する必要があります:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Form\Forms</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Form\Extension\HttpFoundation\HttpFoundationExtension</span><span class="p">;</span>

<span class="nv">$formFactory</span> <span class="o">=</span> <span class="nx">Forms</span><span class="o">::</span><span class="na">createFormFactoryBuilder</span><span class="p">()</span>
    <span class="o">-&gt;</span><span class="na">addExtension</span><span class="p">(</span><span class="k">new</span> <span class="nx">HttpFoundationExtension</span><span class="p">())</span>
    <span class="o">-&gt;</span><span class="na">getFormFactory</span><span class="p">();</span>
</pre></div>
</div>
<p>これでデータを処理する際、配列の代わりに <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\HttpFoundation\Request</span></tt> オブジェクトを
<a href="#id5"><span class="problematic" id="id6">:method:`Symfony\\Component\\Form\\Form::bind`</span></a> に渡すことができるようになります。</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last"><tt class="docutils literal"><span class="pre">HttpFoundation</span></tt> コンポーネントの詳細、インストール方法などについては <tt class="xref doc docutils literal"><span class="pre">/components/http_foundation/introduction</span></tt> をご覧ください。</p>
</div>
</div>
<div class="section" id="csrf">
<h3>CSRFプロテクション<a class="headerlink" href="#csrf" title="Permalink to this headline">¶</a></h3>
<p>CSRF攻撃への対策はFormコンポーネントに組み込まれていますが、明示的に有効にするか、
独自の方法に置き換える必要があります。以下のスニペットではCSRFエクステンションをフォームファクトリに追加しています:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Form\Forms</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Form\Extension\Csrf\CsrfExtension</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Form\Extension\Csrf\CsrfProvider\SessionCsrfProvider</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\HttpFoundation\Session\Session</span><span class="p">;</span>

<span class="c1">// generate a CSRF secret from somewhere</span>
<span class="nv">$csrfSecret</span> <span class="o">=</span> <span class="s1">&#39;&lt;generated token&gt;&#39;</span><span class="p">;</span>

<span class="c1">// create a Session object from the HttpFoundation component</span>
<span class="nv">$session</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Session</span><span class="p">();</span>

<span class="nv">$csrfProvider</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">SessionCsrfProvider</span><span class="p">(</span><span class="nv">$session</span><span class="p">,</span> <span class="nv">$csrfSecret</span><span class="p">);</span>

<span class="nv">$formFactory</span> <span class="o">=</span> <span class="nx">Forms</span><span class="o">::</span><span class="na">createFormFactoryBuilder</span><span class="p">()</span>
    <span class="c1">// ...</span>
    <span class="o">-&gt;</span><span class="na">addExtension</span><span class="p">(</span><span class="k">new</span> <span class="nx">CsrfExtension</span><span class="p">(</span><span class="nv">$csrfProvider</span><span class="p">))</span>
    <span class="o">-&gt;</span><span class="na">getFormFactory</span><span class="p">();</span>
</pre></div>
</div>
<p>CSRF攻撃からアプリケーションを保護するには、CSRFシークレットを定義する必要があります。
少なくとも32文字のランダムな文字列を生成し、上記のコードに追加して、Webサーバ以外はシークレットを参照できないことを確認して下さい。</p>
<p>内部では、このエクステンションはすべてのフォームに値が自動生成された状態のhiddenフィールド（デフォルト名は <tt class="docutils literal"><span class="pre">__token</span></tt>）を自動で追加し、データをバインドする際に検証されます。</p>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p>HttpFoundationコンポーネントを使用していない場合は、<tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\Form\Extension\Csrf\CsrfProvider\DefaultCsrfProvider</span></tt> を代わりに使用して下さい。
これはPHPのネイティブのセッションを使います:</p>
<div class="last highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Form\Extension\Csrf\CsrfProvider\DefaultCsrfProvider</span><span class="p">;</span>

<span class="nv">$csrfProvider</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">DefaultCsrfProvider</span><span class="p">(</span><span class="nv">$csrfSecret</span><span class="p">);</span>
</pre></div>
</div>
</div>
</div>
<div class="section" id="twig">
<h3>Twigテンプレーティング<a class="headerlink" href="#twig" title="Permalink to this headline">¶</a></h3>
<p>HTMLフォームを処理するためにFormコンポーネントを使用している場合、簡単にフォームを（フィールド値、エラーおよびラベルを完備した）HTMLフォームのフィールドとしてレンダリングする方法が必要になります。
テンプレートエンジンに <a class="reference external" href="http://twig.sensiolabs.org">Twig</a> を使用していれば、リッチなインテグレーションを使うことができます。</p>
<p>このインテグレーションの利用には <tt class="docutils literal"><span class="pre">TwigBridge</span></tt> が必要になります。TwigBridgeはTwigといくつかのSymfonyコンポーネントを取りまとめます。
Composerを使用している場合、<tt class="docutils literal"><span class="pre">composer.json</span></tt> の <tt class="docutils literal"><span class="pre">require</span></tt> に次の行を追加すると最新のバージョン2.3をインストールすることができます。</p>
<div class="highlight-json"><div class="highlight"><pre><span class="p">{</span>
    <span class="nt">&quot;require&quot;</span><span class="p">:</span> <span class="p">{</span>
        <span class="nt">&quot;symfony/twig-bridge&quot;</span><span class="p">:</span> <span class="s2">&quot;2.3.*&quot;</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>TwigBridgeを使うと、各フィールド（およびそれに付随する物）のためのHTMLウィジェット、ラベル、フィールドのエラーのレンダリングに役立つ様々な
<a class="reference internal" href="../../reference/forms/twig_reference.html"><em>Twig Functions</em></a> が有効になります。連携にはTwigのインスタンスを初期化または取得し、
<tt class="xref php php-class docutils literal"><span class="pre">Symfony\Bridge\Twig\Extension\FormExtension</span></tt> を追加する必要があります:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Form\Forms</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Bridge\Twig\Extension\FormExtension</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Bridge\Twig\Form\TwigRenderer</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Bridge\Twig\Form\TwigRendererEngine</span><span class="p">;</span>

<span class="c1">// the Twig file that holds all the default markup for rendering forms</span>
<span class="c1">// this file comes with TwigBridge</span>
<span class="nv">$defaultFormTheme</span> <span class="o">=</span> <span class="s1">&#39;form_div_layout.html.twig&#39;</span><span class="p">;</span>

<span class="nv">$vendorDir</span> <span class="o">=</span> <span class="nb">realpath</span><span class="p">(</span><span class="nx">__DIR__</span> <span class="o">.</span> <span class="s1">&#39;/../vendor&#39;</span><span class="p">);</span>
<span class="c1">// the path to TwigBridge so Twig can locate the form_div_layout.html.twig file</span>
<span class="nv">$vendorTwigBridgeDir</span> <span class="o">=</span> <span class="nv">$vendorDir</span> <span class="o">.</span> <span class="s1">&#39;/symfony/twig-bridge/Symfony/Bridge/Twig&#39;</span><span class="p">;</span>
<span class="c1">// the path to your other templates</span>
<span class="nv">$viewsDir</span> <span class="o">=</span> <span class="nb">realpath</span><span class="p">(</span><span class="nx">__DIR__</span> <span class="o">.</span> <span class="s1">&#39;/../views&#39;</span><span class="p">);</span>

<span class="nv">$twig</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Twig_Environment</span><span class="p">(</span><span class="k">new</span> <span class="nx">Twig_Loader_Filesystem</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
    <span class="nv">$viewsDir</span><span class="p">,</span>
    <span class="nv">$vendorTwigBridgeDir</span> <span class="o">.</span> <span class="s1">&#39;/Resources/views/Form&#39;</span><span class="p">,</span>
<span class="p">)));</span>
<span class="nv">$formEngine</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">TwigRendererEngine</span><span class="p">(</span><span class="k">array</span><span class="p">(</span><span class="nv">$defaultFormTheme</span><span class="p">));</span>
<span class="nv">$formEngine</span><span class="o">-&gt;</span><span class="na">setEnvironment</span><span class="p">(</span><span class="nv">$twig</span><span class="p">);</span>
<span class="c1">// add the FormExtension to Twig</span>
<span class="nv">$twig</span><span class="o">-&gt;</span><span class="na">addExtension</span><span class="p">(</span><span class="k">new</span> <span class="nx">FormExtension</span><span class="p">(</span><span class="k">new</span> <span class="nx">TwigRenderer</span><span class="p">(</span><span class="nv">$formEngine</span><span class="p">,</span> <span class="nv">$csrfProvider</span><span class="p">)));</span>

<span class="c1">// create your form factory as normal</span>
<span class="nv">$formFactory</span> <span class="o">=</span> <span class="nx">Forms</span><span class="o">::</span><span class="na">createFormFactoryBuilder</span><span class="p">()</span>
    <span class="c1">// ...</span>
    <span class="o">-&gt;</span><span class="na">getFormFactory</span><span class="p">();</span>
</pre></div>
</div>
<p>厳密には <a class="reference external" href="http://twig.sensiolabs.org/doc/intro.html">Twig Configuration</a> の詳細は異なるでしょうが、<tt class="xref php php-class docutils literal"><span class="pre">Symfony\Bridge\Twig\Extension\FormExtension</span></tt>
をTwigに追加するという点は共通です。そのためにはまず、あなたの <a class="reference internal" href="../../cookbook/form/form_customization.html#cookbook-form-customization-form-themes"><em>form themes</em></a>
（つまり、フォームのHTMLマークアップを定義する resources/files）を定義する <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Bridge\Twig\Form\TwigRendererEngine</span></tt> を作る必要があります。</p>
<p>一般的なフォームのレンダリングについては <a class="reference internal" href="../../cookbook/form/form_customization.html"><em>フォームのレンダリングのカスタマイズ方法</em></a> を参照のこと。</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">Twigを用いた翻訳フィルタの使い方については下記の「<a class="reference internal" href="#component-form-intro-install-translation"><em>翻訳</em></a>」をお読み下さい。</p>
</div>
</div>
<div class="section" id="component-form-intro-install-translation">
<span id="id7"></span><h3>翻訳<a class="headerlink" href="#component-form-intro-install-translation" title="Permalink to this headline">¶</a></h3>
<p>Twigのデフォルトのフォームテーマのいずれかを (例えば<tt class="docutils literal"><span class="pre">form_div_layout.html.twig</span></tt>) 使用していれば、
フォームラベルやエラーメッセージ、オプションテキストなどの翻訳に2つのTwigフィルタが利用できます。（<tt class="docutils literal"><span class="pre">trans</span></tt>、<tt class="docutils literal"><span class="pre">transChoice</span></tt>）</p>
<p>これらのTwigフィルタを使うには、Symfonyの <tt class="docutils literal"><span class="pre">Translation</span></tt> コンポーネントとの連携を実現した <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Bridge\Twig\Extension\TranslationExtension</span></tt>
を使用するか、自作のTwigエクステンションから2つのTwigフィルタを自分で追加することです。</p>
<p><tt class="docutils literal"><span class="pre">TranslationExtension</span></tt> を使用するには、プロジェクトにSymfonyの <tt class="docutils literal"><span class="pre">Translation</span></tt> コンポーネントと <tt class="xref doc docutils literal"><span class="pre">Config</span></tt>
コンポーネントがインストールされていることを確認してください。Composerを使用してれば、<tt class="docutils literal"><span class="pre">composer.json</span></tt> に以下を追加することで最新のバージョン2.3をインストールすることができます。:</p>
<div class="highlight-json"><div class="highlight"><pre><span class="p">{</span>
    <span class="nt">&quot;require&quot;</span><span class="p">:</span> <span class="p">{</span>
        <span class="nt">&quot;symfony/translation&quot;</span><span class="p">:</span> <span class="s2">&quot;2.3.*&quot;</span><span class="p">,</span>
        <span class="nt">&quot;symfony/config&quot;</span><span class="p">:</span> <span class="s2">&quot;2.3.*&quot;</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>次に、<tt class="xref php php-class docutils literal"><span class="pre">Symfony\Bridge\Twig\Extension\TranslationExtension</span></tt> を <tt class="docutils literal"><span class="pre">Twig_Environment</span></tt> インスタンスに追加します:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Form\Forms</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Translation\Translator</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Translation\Loader\XliffFileLoader</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Bridge\Twig\Extension\TranslationExtension</span><span class="p">;</span>

<span class="c1">// create the Translator</span>
<span class="nv">$translator</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Translator</span><span class="p">(</span><span class="s1">&#39;en&#39;</span><span class="p">);</span>
<span class="c1">// somehow load some translations into it</span>
<span class="nv">$translator</span><span class="o">-&gt;</span><span class="na">addLoader</span><span class="p">(</span><span class="s1">&#39;xlf&#39;</span><span class="p">,</span> <span class="k">new</span> <span class="nx">XliffFileLoader</span><span class="p">());</span>
<span class="nv">$translator</span><span class="o">-&gt;</span><span class="na">addResource</span><span class="p">(</span>
    <span class="s1">&#39;xlf&#39;</span><span class="p">,</span>
    <span class="nx">__DIR__</span><span class="o">.</span><span class="s1">&#39;/path/to/translations/messages.en.xlf&#39;</span><span class="p">,</span>
    <span class="s1">&#39;en&#39;</span>
<span class="p">);</span>

<span class="c1">// add the TranslationExtension (gives us trans and transChoice filters)</span>
<span class="nv">$twig</span><span class="o">-&gt;</span><span class="na">addExtension</span><span class="p">(</span><span class="k">new</span> <span class="nx">TranslationExtension</span><span class="p">(</span><span class="nv">$translator</span><span class="p">));</span>

<span class="nv">$formFactory</span> <span class="o">=</span> <span class="nx">Forms</span><span class="o">::</span><span class="na">createFormFactoryBuilder</span><span class="p">()</span>
    <span class="c1">// ...</span>
    <span class="o">-&gt;</span><span class="na">getFormFactory</span><span class="p">();</span>
</pre></div>
</div>
<p>これで、上記の翻訳ソースにフィールドラベルなどの文字列のキーと対応する翻訳を追加することができるようになりました。</p>
<p>翻訳についてさらに詳しい詳細は <a class="reference internal" href="../../book/translation.html"><em>翻訳</em></a> をご覧ください。</p>
</div>
<div class="section" id="id8">
<h3>バリデーション<a class="headerlink" href="#id8" title="Permalink to this headline">¶</a></h3>
<p>FormコンポーネントはSymfonyのValidatorコンポーネントと連携して検証を行うことができますが、既にある独自の検証システムを活用することもできます。
単にフォームにバインドされたデータ（配列またはオブジェクト）を取り、独自の検証システムに通すだけです。</p>
<p>SymfonyのValidatorコンポーネントを使用する場合は、まずプロジェクトにValidatorコンポーネントがインストールされている事を確認してください。
Composerを使用していれば、<tt class="docutils literal"><span class="pre">composer.json</span></tt> の <tt class="docutils literal"><span class="pre">require</span></tt> に次の行を追加すると最新のバージョン2.3をインストールすることができます。:</p>
<div class="highlight-json"><div class="highlight"><pre><span class="p">{</span>
    <span class="nt">&quot;require&quot;</span><span class="p">:</span> <span class="p">{</span>
        <span class="nt">&quot;symfony/validator&quot;</span><span class="p">:</span> <span class="s2">&quot;2.3.*&quot;</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>Validatorコンポーネントに慣れていなければ <a class="reference internal" href="../../book/validation.html"><em>バリデーション</em></a> を参照して下さい。Formコンポーネントは
<tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\Form\Extension\Validator\ValidatorExtension</span></tt> を使用して自動的にバインドされたデータを検証し、エラーがあれば正しいフィールドにマップされた上でレンダリングします。</p>
<p>Validatorコンポーネントとの連携は次のようにして行います:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Form\Forms</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Form\Extension\Validator\ValidatorExtension</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Validator\Validation</span><span class="p">;</span>

<span class="nv">$vendorDir</span> <span class="o">=</span> <span class="nb">realpath</span><span class="p">(</span><span class="nx">__DIR__</span> <span class="o">.</span> <span class="s1">&#39;/../vendor&#39;</span><span class="p">);</span>
<span class="nv">$vendorFormDir</span> <span class="o">=</span> <span class="nv">$vendorDir</span> <span class="o">.</span> <span class="s1">&#39;/symfony/form/Symfony/Component/Form&#39;</span><span class="p">;</span>
<span class="nv">$vendorValidatorDir</span> <span class="o">=</span> <span class="nv">$vendorDir</span> <span class="o">.</span> <span class="s1">&#39;/symfony/validator/Symfony/Component/Validator&#39;</span><span class="p">;</span>

<span class="c1">// create the validator - details will vary</span>
<span class="nv">$validator</span> <span class="o">=</span> <span class="nx">Validation</span><span class="o">::</span><span class="na">createValidator</span><span class="p">();</span>

<span class="c1">// there are built-in translations for the core error messages</span>
<span class="nv">$translator</span><span class="o">-&gt;</span><span class="na">addResource</span><span class="p">(</span>
    <span class="s1">&#39;xlf&#39;</span><span class="p">,</span>
    <span class="nv">$vendorFormDir</span> <span class="o">.</span> <span class="s1">&#39;/Resources/translations/validators.en.xlf&#39;</span><span class="p">,</span>
    <span class="s1">&#39;en&#39;</span><span class="p">,</span>
    <span class="s1">&#39;validators&#39;</span>
<span class="p">);</span>
<span class="nv">$translator</span><span class="o">-&gt;</span><span class="na">addResource</span><span class="p">(</span>
    <span class="s1">&#39;xlf&#39;</span><span class="p">,</span>
    <span class="nv">$vendorValidatorDir</span> <span class="o">.</span> <span class="s1">&#39;/Resources/translations/validators.en.xlf&#39;</span><span class="p">,</span>
    <span class="s1">&#39;en&#39;</span><span class="p">,</span>
    <span class="s1">&#39;validators&#39;</span>
<span class="p">);</span>

<span class="nv">$formFactory</span> <span class="o">=</span> <span class="nx">Forms</span><span class="o">::</span><span class="na">createFormFactoryBuilder</span><span class="p">()</span>
    <span class="c1">// ...</span>
    <span class="o">-&gt;</span><span class="na">addExtension</span><span class="p">(</span><span class="k">new</span> <span class="nx">ValidatorExtension</span><span class="p">(</span><span class="nv">$validator</span><span class="p">))</span>
    <span class="o">-&gt;</span><span class="na">getFormFactory</span><span class="p">();</span>
</pre></div>
</div>
<p>更に詳しい情報は <a class="reference internal" href="#component-form-intro-validation"><em>バリデーション</em></a> セクションに記載されています。</p>
</div>
<div class="section" id="id9">
<h3>フォームファクトリへのアクセス<a class="headerlink" href="#id9" title="Permalink to this headline">¶</a></h3>
<p>フォームファクトリはアプリケーション中で1つだけ保持し、すべてのフォームはそこから構築されるべきです。
つまり、フォームの生成に必要な時にいつでもアクセスできるよう、フォームファクトリはアプリケーションのブートストラップ部分で生成しなければならないことを意味します。</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">このドキュメントではフォームファクトリをローカル変数の <tt class="docutils literal"><span class="pre">$formFactory</span></tt> に代入していますが、実際にはどこからでもアクセスできる「グローバル」な場所にインスタンスを保持する必要があります。</p>
</div>
<p>:term`Service Container` を使用していればフォームファクトリをそこに登録すると良いでしょう。
古典的であり非推奨ですがグローバル、またはスタティックな変数に格納するといった方法もあります。</p>
<p>アプリケーションの設計に関わらず、アプリケーション中でフォームファクトリは1つだけ保持し、どこからでもアクセスできるようにする必要があると言うことを覚えておいて下さい。</p>
</div>
</div>
<div class="section" id="component-form-intro-create-simple-form">
<span id="id10"></span><h2>シンプルなフォームの作成<a class="headerlink" href="#component-form-intro-create-simple-form" title="Permalink to this headline">¶</a></h2>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p class="last">Symfony2フレームワークを使用していれば、フォームファクトリはサービス名 <tt class="docutils literal"><span class="pre">form.factory</span></tt> として登録されています。
また、デフォルトのコントローラクラスは <a href="#id11"><span class="problematic" id="id12">:method:`Symfony\\Bundle\\FrameworkBundle\\Controller::createFormBuilder`</span></a> メソッドを持っています。
これはフォームファクトリを取得し、<a href="#id13"><span class="problematic" id="id14">``</span></a>createBuilder``を実行するショートカットです。</p>
</div>
<p>フォームの作成は <tt class="xref php php-class docutils literal"><span class="pre">Symfony\Component\Form\FormBuilder</span></tt> を介して行われ、そこで各種フィールドの構築や設定を行います。フォームビルダは、フォームファクトリによって作られます。</p>
<div class="configuration-block">
<ul class="simple">
<li><em>PHP</em><div class="highlight-php"><div class="highlight"><pre><span class="nv">$form</span> <span class="o">=</span> <span class="nv">$formFactory</span><span class="o">-&gt;</span><span class="na">createBuilder</span><span class="p">()</span>
    <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;task&#39;</span><span class="p">,</span> <span class="s1">&#39;text&#39;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;dueDate&#39;</span><span class="p">,</span> <span class="s1">&#39;date&#39;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">getForm</span><span class="p">();</span>

<span class="k">echo</span> <span class="nv">$twig</span><span class="o">-&gt;</span><span class="na">render</span><span class="p">(</span><span class="s1">&#39;new.html.twig&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;form&#39;</span> <span class="o">=&gt;</span> <span class="nv">$form</span><span class="o">-&gt;</span><span class="na">createView</span><span class="p">(),</span>
<span class="p">));</span>
</pre></div>
</div>
</li>
<li><em>PHP</em><div class="highlight-php"><div class="highlight"><pre><span class="c1">// src/Acme/TaskBundle/Controller/DefaultController.php</span>
<span class="k">namespace</span> <span class="nx">Acme\TaskBundle\Controller</span><span class="p">;</span>

<span class="k">use</span> <span class="nx">Symfony\Bundle\FrameworkBundle\Controller\Controller</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\HttpFoundation\Request</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">DefaultController</span> <span class="k">extends</span> <span class="nx">Controller</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">newAction</span><span class="p">(</span><span class="nx">Request</span> <span class="nv">$request</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="c1">// createFormBuilder is a shortcut to get the &quot;form factory&quot;</span>
        <span class="c1">// and then call &quot;createBuilder()&quot; on it</span>
        <span class="nv">$form</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">createFormBuilder</span><span class="p">()</span>
            <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;task&#39;</span><span class="p">,</span> <span class="s1">&#39;text&#39;</span><span class="p">)</span>
            <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;dueDate&#39;</span><span class="p">,</span> <span class="s1">&#39;date&#39;</span><span class="p">)</span>
            <span class="o">-&gt;</span><span class="na">getForm</span><span class="p">();</span>

        <span class="k">return</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">render</span><span class="p">(</span><span class="s1">&#39;AcmeTaskBundle:Default:new.html.twig&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span>
            <span class="s1">&#39;form&#39;</span> <span class="o">=&gt;</span> <span class="nv">$form</span><span class="o">-&gt;</span><span class="na">createView</span><span class="p">(),</span>
        <span class="p">));</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
</li>
</ul>
</div>
<p>ご覧のように、フォームの作成はレシピを書くようなものです。新しくフィールドを作成する場合は <tt class="docutils literal"><span class="pre">add</span></tt> メソッドをコールします。
第1引数にはフィールド名、第2引数にはフィールドの「タイプ」を指定します。Formコンポーネントには多数の <a class="reference internal" href="../../reference/forms/types.html"><em>ビルトインタイプ</em></a> が付属されています。</p>
<p>フォームが構築できたので、 <a class="reference internal" href="#component-form-intro-rendering-form"><em>レンダリング</em></a> し、
<a class="reference internal" href="#component-form-intro-handling-submission"><em>送信データを処理</em></a> する方法を解説します。</p>
<div class="section" id="id15">
<h3>デフォルト値の設定<a class="headerlink" href="#id15" title="Permalink to this headline">¶</a></h3>
<p>フォームには（編集フォームなど）デフォルト値が必要なケースがあります。
フォームビルダの作成時にデフォルト値を設定することが可能です。</p>
<div class="configuration-block">
<ul class="simple">
<li><em>PHP</em><div class="highlight-php"><div class="highlight"><pre><span class="nv">$defaults</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;dueDate&#39;</span> <span class="o">=&gt;</span> <span class="k">new</span> <span class="nx">\DateTime</span><span class="p">(</span><span class="s1">&#39;tomorrow&#39;</span><span class="p">),</span>
<span class="p">);</span>

<span class="nv">$form</span> <span class="o">=</span> <span class="nv">$formFactory</span><span class="o">-&gt;</span><span class="na">createBuilder</span><span class="p">(</span><span class="s1">&#39;form&#39;</span><span class="p">,</span> <span class="nv">$defaults</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;task&#39;</span><span class="p">,</span> <span class="s1">&#39;text&#39;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;dueDate&#39;</span><span class="p">,</span> <span class="s1">&#39;date&#39;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">getForm</span><span class="p">();</span>
</pre></div>
</div>
</li>
<li><em>PHP</em><div class="highlight-php"><div class="highlight"><pre><span class="nv">$defaults</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;dueDate&#39;</span> <span class="o">=&gt;</span> <span class="k">new</span> <span class="nx">\DateTime</span><span class="p">(</span><span class="s1">&#39;tomorrow&#39;</span><span class="p">),</span>
<span class="p">);</span>

<span class="nv">$form</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">createFormBuilder</span><span class="p">(</span><span class="nv">$defaults</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;task&#39;</span><span class="p">,</span> <span class="s1">&#39;text&#39;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;dueDate&#39;</span><span class="p">,</span> <span class="s1">&#39;date&#39;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">getForm</span><span class="p">();</span>
</pre></div>
</div>
</li>
</ul>
</div>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p class="last">上記の例では、デフォルト値のデータが配列ですが、オブジェクトに直接データをバインドする
<em class="xref std std-ref">data_class</em> オプションを使用している場合は、そのオブジェクトのインスタンスがデフォルト値のデータとなります。</p>
</div>
</div>
<div class="section" id="component-form-intro-rendering-form">
<span id="id16"></span><h3>フォームのレンダリング<a class="headerlink" href="#component-form-intro-rendering-form" title="Permalink to this headline">¶</a></h3>
<p>フォームが完成したので、次はこれをレンダリングしてみましょう。
これは、テンプレートに特殊なフォーム「view」オブジェクトを渡し（上記のコントローラの $form-&gt;createView() の部分に注目してください）、フォームヘルパー関数のセットを使用して行われます。</p>
<div class="highlight-html+jinja"><div class="highlight"><pre><span class="nt">&lt;form</span> <span class="na">action=</span><span class="s">&quot;#&quot;</span> <span class="na">method=</span><span class="s">&quot;post&quot;</span> <span class="cp">{{</span> <span class="nv">form_enctype</span><span class="o">(</span><span class="nv">form</span><span class="o">)</span> <span class="cp">}}</span><span class="nt">&gt;</span>
    <span class="cp">{{</span> <span class="nv">form_widget</span><span class="o">(</span><span class="nv">form</span><span class="o">)</span> <span class="cp">}}</span>

    <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;submit&quot;</span> <span class="nt">/&gt;</span>
<span class="nt">&lt;/form&gt;</span>
</pre></div>
</div>
<img alt="../../images/form-simple.png" class="align-center" src="../../_images/form-simple.png" />
<p><tt class="docutils literal"><span class="pre">form_widget(form)</span></tt> はフォームのすべてのフィールドをラベル、（エラーがあれば）エラーメッセージと共にレンダリングします。
これは単純ですが、柔軟性がありません。フォームの見栄えを調整できるように個々のフィールドを一つずつレンダリングしたい所です。
その方法については &#8220;<a class="reference internal" href="../../book/forms.html#form-rendering-template"><em>フォームのレンダリング</em></a>&#8221; セクションをご覧ください。</p>
</div>
<div class="section" id="component-form-intro-handling-submission">
<span id="id17"></span><h3>送信データの取り扱い<a class="headerlink" href="#component-form-intro-handling-submission" title="Permalink to this headline">¶</a></h3>
<p>送信データを取り扱うには <a href="#id18"><span class="problematic" id="id19">:method:`Symfony\\Component\\Form\\Form::bind`</span></a> を使用します。</p>
<div class="configuration-block">
<ul class="simple">
<li><em>PHP</em><div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\HttpFoundation\Request</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\HttpFoundation\RedirectResponse</span><span class="p">;</span>

<span class="nv">$form</span> <span class="o">=</span> <span class="nv">$formFactory</span><span class="o">-&gt;</span><span class="na">createBuilder</span><span class="p">()</span>
    <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;task&#39;</span><span class="p">,</span> <span class="s1">&#39;text&#39;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;dueDate&#39;</span><span class="p">,</span> <span class="s1">&#39;date&#39;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">getForm</span><span class="p">();</span>

<span class="nv">$request</span> <span class="o">=</span> <span class="nx">Request</span><span class="o">::</span><span class="na">createFromGlobals</span><span class="p">();</span>

<span class="k">if</span> <span class="p">(</span><span class="nv">$request</span><span class="o">-&gt;</span><span class="na">isMethod</span><span class="p">(</span><span class="s1">&#39;POST&#39;</span><span class="p">))</span> <span class="p">{</span>
    <span class="nv">$form</span><span class="o">-&gt;</span><span class="na">bind</span><span class="p">(</span><span class="nv">$request</span><span class="p">);</span>

    <span class="k">if</span> <span class="p">(</span><span class="nv">$form</span><span class="o">-&gt;</span><span class="na">isValid</span><span class="p">())</span> <span class="p">{</span>
        <span class="nv">$data</span> <span class="o">=</span> <span class="nv">$form</span><span class="o">-&gt;</span><span class="na">getData</span><span class="p">();</span>

        <span class="c1">// ... perform some action, such as saving the data to the database</span>

        <span class="nv">$response</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">RedirectResponse</span><span class="p">(</span><span class="s1">&#39;/task/success&#39;</span><span class="p">);</span>
        <span class="nv">$response</span><span class="o">-&gt;</span><span class="na">prepare</span><span class="p">(</span><span class="nv">$request</span><span class="p">);</span>

        <span class="k">return</span> <span class="nv">$response</span><span class="o">-&gt;</span><span class="na">send</span><span class="p">();</span>
    <span class="p">}</span>
<span class="p">}</span>

<span class="c1">// ...</span>
</pre></div>
</div>
</li>
<li><em>PHP</em><div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>

<span class="k">public</span> <span class="k">function</span> <span class="nf">newAction</span><span class="p">(</span><span class="nx">Request</span> <span class="nv">$request</span><span class="p">)</span>
<span class="p">{</span>
    <span class="nv">$form</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">createFormBuilder</span><span class="p">()</span>
        <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;task&#39;</span><span class="p">,</span> <span class="s1">&#39;text&#39;</span><span class="p">)</span>
        <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;dueDate&#39;</span><span class="p">,</span> <span class="s1">&#39;date&#39;</span><span class="p">)</span>
        <span class="o">-&gt;</span><span class="na">getForm</span><span class="p">();</span>

    <span class="c1">// only process the form if the request is a POST request</span>
    <span class="k">if</span> <span class="p">(</span><span class="nv">$request</span><span class="o">-&gt;</span><span class="na">isMethod</span><span class="p">(</span><span class="s1">&#39;POST&#39;</span><span class="p">))</span> <span class="p">{</span>
        <span class="nv">$form</span><span class="o">-&gt;</span><span class="na">bind</span><span class="p">(</span><span class="nv">$request</span><span class="p">);</span>

        <span class="k">if</span> <span class="p">(</span><span class="nv">$form</span><span class="o">-&gt;</span><span class="na">isValid</span><span class="p">())</span> <span class="p">{</span>
            <span class="nv">$data</span> <span class="o">=</span> <span class="nv">$form</span><span class="o">-&gt;</span><span class="na">getData</span><span class="p">();</span>

            <span class="c1">// ... perform some action, such as saving the data to the database</span>

            <span class="k">return</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">redirect</span><span class="p">(</span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">generateUrl</span><span class="p">(</span><span class="s1">&#39;task_success&#39;</span><span class="p">));</span>
        <span class="p">}</span>
    <span class="p">}</span>

    <span class="c1">// ...</span>
<span class="p">}</span>
</pre></div>
</div>
</li>
</ul>
</div>
<p>これは3つの異なる可能性を含む、一般的なフォームの「ワークフロー」を定義します:</p>
<ol class="arabic simple">
<li>初回のGETリクエスト時（つまり、ユーザがページに初めて訪れる時）、フォームを構築して表示します;</li>
</ol>
<p>リクエストがPOSTであれば、送信されたデータを処理（<tt class="docutils literal"><span class="pre">bind</span></tt> で）します。その結果:</p>
<ol class="arabic simple" start="2">
<li>フォームが無効なら、（エラーメッセージと共に）再度フォームを表示します。</li>
<li>フォームが有効であれば、適当なアクション（DBへのデータ保存など）を実行し、リダイレクトを行います;</li>
</ol>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p>HttpFoundation を使用していない場合、POSTデータをそのまま <tt class="docutils literal"><span class="pre">bind</span></tt> に渡します:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">if</span> <span class="p">(</span><span class="nb">isset</span><span class="p">(</span><span class="nv">$_POST</span><span class="p">[</span><span class="nv">$form</span><span class="o">-&gt;</span><span class="na">getName</span><span class="p">()]))</span> <span class="p">{</span>
    <span class="nv">$form</span><span class="o">-&gt;</span><span class="na">bind</span><span class="p">(</span><span class="nv">$_POST</span><span class="p">[</span><span class="nv">$form</span><span class="o">-&gt;</span><span class="na">getName</span><span class="p">()]);</span>

    <span class="c1">// ...</span>
<span class="p">}</span>
</pre></div>
</div>
<p class="last">ファイルをアップロードしている場合、<tt class="docutils literal"><span class="pre">bind</span></tt> に値を渡す前に、$_FILE配列と$_POST配列をマージする必要があります。</p>
</div>
</div>
<div class="section" id="component-form-intro-validation">
<span id="id20"></span><h3>バリデーション<a class="headerlink" href="#component-form-intro-validation" title="Permalink to this headline">¶</a></h3>
<p>各フィールドを構築する際、フォームに検証を追加する最も簡単な方法は、<tt class="docutils literal"><span class="pre">constraints</span></tt> オプションを使用することです:</p>
<div class="configuration-block">
<ul class="simple">
<li><em>PHP</em><div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Validator\Constraints\NotBlank</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Validator\Constraints\Type</span><span class="p">;</span>

<span class="nv">$form</span> <span class="o">=</span> <span class="nv">$formFactory</span><span class="o">-&gt;</span><span class="na">createBuilder</span><span class="p">()</span>
    <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;task&#39;</span><span class="p">,</span> <span class="s1">&#39;text&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;constraints&#39;</span> <span class="o">=&gt;</span> <span class="k">new</span> <span class="nx">NotBlank</span><span class="p">(),</span>
    <span class="p">))</span>
    <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;dueDate&#39;</span><span class="p">,</span> <span class="s1">&#39;date&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;constraints&#39;</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span>
            <span class="k">new</span> <span class="nx">NotBlank</span><span class="p">(),</span>
            <span class="k">new</span> <span class="nx">Type</span><span class="p">(</span><span class="s1">&#39;\DateTime&#39;</span><span class="p">),</span>
        <span class="p">)</span>
    <span class="p">))</span>
    <span class="o">-&gt;</span><span class="na">getForm</span><span class="p">();</span>
</pre></div>
</div>
</li>
<li><em>PHP</em><div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Validator\Constraints\NotBlank</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Validator\Constraints\Type</span><span class="p">;</span>

<span class="nv">$form</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">createFormBuilder</span><span class="p">()</span>
    <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;task&#39;</span><span class="p">,</span> <span class="s1">&#39;text&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;constraints&#39;</span> <span class="o">=&gt;</span> <span class="k">new</span> <span class="nx">NotBlank</span><span class="p">(),</span>
    <span class="p">))</span>
    <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;dueDate&#39;</span><span class="p">,</span> <span class="s1">&#39;date&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;constraints&#39;</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span>
            <span class="k">new</span> <span class="nx">NotBlank</span><span class="p">(),</span>
            <span class="k">new</span> <span class="nx">Type</span><span class="p">(</span><span class="s1">&#39;\DateTime&#39;</span><span class="p">),</span>
        <span class="p">)</span>
    <span class="p">))</span>
    <span class="o">-&gt;</span><span class="na">getForm</span><span class="p">();</span>
</pre></div>
</div>
</li>
</ul>
</div>
<p>フォームがバインドされると、これらのバリデーション制約は自動的に適用され、エラーはエラーのあるフィールドの隣に表示されます。</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">同梱されているバリデーション制約のすべてのリストについてはこちらをを参照してください。
<a class="reference internal" href="../../reference/constraints.html"><em>バリデータリファレンス</em></a></p>
</div>
</div>
</div>
</div>


<div id="page_prev_next">
<a class="prev" href="index.html">< Form</a>
<a class="next" href="../process.html">Processコンポーネント ></a>
</div>

<div class="common_content_footer">
<ul>
  <li> → <a href="http://symfony.com/doc/current/components/form/introduction.html">公式英語ドキュメント</a></li>
  <li> → <a href="https://github.com/symfony/symfony-docs/commits/master/components/form/introduction.rst">原文コミット履歴</a>
  <li> → <a href="https://github.com/symfony-japan/symfony-docs-ja/commits/master/components/form/introduction.rst">翻訳コミット履歴</a>
</ul>
<br />
翻訳の不備などは、お気軽にコメント欄にてご指摘ください。
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'symfony-japan'; // required: replace example with your forum shortname

    // The following are highly recommended additional parameters. Remove the slashes in front to use.
    // var disqus_identifier = 'unique_dynamic_id_1234';
    // var disqus_url = 'http://example.com/permalink-to-page.html';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

<div class="fb-like-box" data-href="http://www.facebook.com/symfonyjapan" data-width="203" data-show-faces="true" data-stream="true" data-border-color="#FFF" data-header="true"></div>

          </div>
        </div>
      </div>

      <div class="clearer"></div>
    </div>

      </div>
      <!-- end #main -->
    </div>
    <!-- end #content_wrapper -->
  </div>
  <!-- end #content -->


  <div id="footer">
    <div id="footer_wrapper">
      <div id="footer_content">
        <div style=" position: relative;">
          <div id="footer_left"></div>
          <div id="footer_right"></div>
        </div>
        <div id="f_navbar">
        <ul>
          <li><a href="../../index.html">トップ（索引）</a></li>
          <li><a href="../../quick_tour/index.html">クイックツアー</a></li>
          <li><a href="../../book/index.html">ガイドブック</a></li>
          <li><a href="../../cookbook/index.html">クックブック</a></li>
          <li><a href="../index.html">コンポーネント</a></li>
          <li><a href="../../reference/index.html">リファレンス</a></li>
          <li><a href="../../contributing/index.html">貢献</a></li>
        </ul>
      </div>
      <!-- end #navbar -->
        <div>
          <p id="copyright">
            <a href="../../contributing/documentation/license.html">ドキュメントの著作権</a>は Symfony 公式に準じます(Creative Commons Attribution-Share Alike 3.0 Unported ライセンス)。<br />
            Copyright &copy; 2014 Symfony Japan. All rights reserved.<br />
            &nbsp;&nbsp;&nbsp;Bandwidth and hardware provided by <a href="http://www.asial.co.jp/">アシアル株式会社</a>
            &nbsp;&nbsp;Powered by <a href="http://sphinx.pocoo.org/">Sphinx</a>
          </p>
        </div>
      </div>
      <!-- end #footer_content -->
        </div>
        <!-- end #footer_wrapper -->
      </div>
      <!-- end #footer -->
    </div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16659283-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
</html>
