
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Stopwatchコンポーネント | Symfony2日本語ドキュメント</title>
    <link rel="stylesheet" href="../static/basic.css" type="text/css" />
    <link rel="stylesheet" href="../static/pygments.css" type="text/css" />
    <link rel="stylesheet" href="../static/configurationblock.css" type="text/css" />
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '1.0.0',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../static/jquery.js"></script>
    <script type="text/javascript" src="../static/underscore.js"></script>
    <script type="text/javascript" src="../static/doctools.js"></script>
      <script type="text/javascript" src="../static/js/jquery.corner.js"></script>
      <script type="text/javascript" src="../static/configurationblock.js"></script>
      <script type="text/javascript">
      $(function(){
          $('.section h1').corner();
          $('.highlight-python pre').corner();
          $('.highlight-yml pre').corner();
          $('.highlight').corner();
      });
      </script>
    <link rel="top" title="Symfony2Doc 1.0.0 documentation" href="../index.html" />
    <link rel="up" title="コンポーネント" href="index.html" />
    <link rel="next" title="Templatingコンポーネント" href="templating.html" />
    <link rel="prev" title="Serializerコンポーネント" href="serializer.html" /> 
  </head>
  <body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=47270766548";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="all">
  <div id="content">
    <div id="content_wrapper">
      <div id="top_menu">
        <div id="top_menu_wrapper">
        </div>
      </div>
      <div id="header_top">
        <h1 id="logo_top"><a href="http://docs.symfony.gr.jp/">Symfonyユーザー会ドキュメントポータル</a></h1>
        <div id="header_top_left"></div>
      </div>
      <!-- end #header -->
      <div id="navbar">
        <ul>
          <li><a href="../index.html">トップ（索引）</a></li>
          <li><a href="../quick_tour/index.html">クイックツアー</a></li>
          <li><a href="../book/index.html">ガイドブック</a></li>
          <li><a href="../best_practices/index.html">ベストプラクティス</a></li>
          <li><a href="../cookbook/index.html">クックブック</a></li>
          <li><a href="index.html">コンポーネント</a></li>
          <li><a href="../reference/index.html">リファレンス</a></li>
          <li><a href="../contributing/index.html">貢献</a></li>
        </ul>
      </div>
      <!-- end #navbar -->
      <div id="main">
<a href="/">Home</a> |
<a href="../index.html">Symfony2Doc</a>
&raquo;<a href="index.html">コンポーネント</a>
&raquo;Stopwatchコンポーネント

  
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3>このページのコンテンツ</h3>
  <ul>
<li><a class="reference internal" href="#">Stopwatchコンポーネント</a><ul>
<li><a class="reference internal" href="#id1">インストール</a></li>
<li><a class="reference internal" href="#id2">使い方</a></li>
<li><a class="reference internal" href="#id3">ピリオド</a></li>
<li><a class="reference internal" href="#id4">セクション</a></li>
</ul>
</li>
</ul>

  <h4>前のドキュメント</h4>
  <p class="topless"><a href="serializer.html"
                        title="previous chapter">Serializerコンポーネント</a></p>
  <h4>次のドキュメント</h4>
  <p class="topless"><a href="templating.html"
                        title="next chapter">Templatingコンポーネント</a></p>
  <h3>ソース</h3>
  <ul class="this-page-menu">
    <li><a href="../sources/components/stopwatch.txt"
           rel="nofollow">ページのソースを表示</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>クイック検索</h3>
    <form class="search" action="../search.html" method="get">
      <input type="text" name="q" size="18" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
          <br />
          <br />
          <div id="other">
            <h3>クイックリンク</h3>
            <ul>
              <li><a href="../book/installation.html">インストール方法</a></li>
              <li><a href="../reference/forms/types.html">FormTypeリファレンス</a></li>
              <li><a href="../reference/constraints.html">バリデータリファレンス</a></li>
              <li><a href="http://twig.sensiolabs.org/documentation">Twigリファレンス</a></li>
              <li><a href="http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/annotations-reference.html">Doctrine ORMアノテーションリファレンス</a></li>
            </ul>

<br />
            <h3>コメントリスト</h3>

<script type="text/javascript" src="http://symfony-japan.disqus.com/combination_widget.js?num_items=10&hide_mods=0&color=grey&default_tab=recent&excerpt_length=200"></script><a href="http://disqus.com/">Powered by Disqus</a>


            <br />
            <p>ご質問や翻訳不備等お気軽にコメントください。</p>

            <br />
          </div>
        </div>
      </div>

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            

<p>コンテンツ上部に更新日の記載のないページは、翻訳の内容が2.0相当のものになっております。最新の内容は<a href="http://symfony.com/doc/current/components/stopwatch.html">原文のページ</a>をご確認ください。</p>

  <div class="admonition note" id="index-0">
<p class="first admonition-title">Note</p>
<ul class="last simple">
<li>対象バージョン：2.3 (2.2以降)</li>
<li>翻訳更新日：2013/05/16</li>
</ul>
</div>
<div class="section" id="stopwatch">
<h1>Stopwatchコンポーネント<a class="headerlink" href="#stopwatch" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div>Stopwatchコンポーネントはコードをプロファイルする方法を提供します。</div></blockquote>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.2: </span>Stopwatchコンポーネントは、Symfony2.2から追加されました。以前は <tt class="docutils literal"><span class="pre">Stopwatch</span></tt> クラスは <tt class="docutils literal"><span class="pre">HttpKernel</span></tt> コンポーネントに含まれていました(Symfony2.1以降)。</p>
</div>
<div class="section" id="id1">
<h2>インストール<a class="headerlink" href="#id1" title="Permalink to this headline">¶</a></h2>
<p>コンポーネントのインストール方法は二通りです。</p>
<ul class="simple">
<li>公式Gitレポジトリ (<a class="reference external" href="https://github.com/symfony/Stopwatch">https://github.com/symfony/Stopwatch</a>);</li>
<li><a class="reference internal" href="using_components.html"><em>Composer</em></a> (<a class="reference external" href="https://packagist.org/packages/symfony/stopwatch">Packagist</a> の <tt class="docutils literal"><span class="pre">symfony/stopwatch</span></tt>)</li>
</ul>
</div>
<div class="section" id="id2">
<h2>使い方<a class="headerlink" href="#id2" title="Permalink to this headline">¶</a></h2>
<p>Stopwatchコンポーネントは任意のコードの実行時間を測る簡単で一貫性のある方法を提供します。もうマイクロ秒を自力で解析する必要はないのです。 代わりに、 <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Stopwatch/Stopwatch.html" title="Symfony\Component\Stopwatch\Stopwatch"><span class="pre">Stopwatch</span></a></tt> クラスを使ってください。:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Stopwatch\Stopwatch</span><span class="p">;</span>

<span class="nv">$stopwatch</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Stopwatch</span><span class="p">();</span>
<span class="c1">// &#39;eventName&#39;というイベントを開始</span>
<span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">start</span><span class="p">(</span><span class="s1">&#39;eventName&#39;</span><span class="p">);</span>
<span class="c1">// ... ここに何かのコード</span>
<span class="nv">$event</span> <span class="o">=</span> <span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">stop</span><span class="p">(</span><span class="s1">&#39;eventName&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>イベントにカテゴリ名をつけることもできます:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">start</span><span class="p">(</span><span class="s1">&#39;eventName&#39;</span><span class="p">,</span> <span class="s1">&#39;categoryName&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>カテゴリはイベントに対するタグのようなものと考えてください。例えば、Symfony Profilter tookはカテゴリをイベントの色分けに使用しています。</p>
</div>
<div class="section" id="id3">
<h2>ピリオド<a class="headerlink" href="#id3" title="Permalink to this headline">¶</a></h2>
<p>現実の世界と同じように、ストップウォッチには2つのボタンがあります。ストップウォッチをスタート・ストップするボタンと、ラップタイムを測るボタンです。
ちょうど <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Stopwatch/Stopwatch.html#method_lap`" title="Symfony\Component\Stopwatch\Stopwatch::lap`()"><span class="pre">lap`()</span></a></tt> メソッドの動作と同じです。:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$stopwatch</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Stopwatch</span><span class="p">();</span>
<span class="c1">// &#39;foo&#39;というイベントを開始</span>
<span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">start</span><span class="p">(</span><span class="s1">&#39;foo&#39;</span><span class="p">);</span>
<span class="c1">// ... ここに何かのコード</span>
<span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">lap</span><span class="p">(</span><span class="s1">&#39;foo&#39;</span><span class="p">);</span>
<span class="c1">// ... ここに何かのコード</span>
<span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">lap</span><span class="p">(</span><span class="s1">&#39;foo&#39;</span><span class="p">);</span>
<span class="c1">// ... ここに何か別のコード</span>
<span class="nv">$event</span> <span class="o">=</span> <span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">stop</span><span class="p">(</span><span class="s1">&#39;foo&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>ラップの情報は&#8221;periods&#8221;としてイベント内に保存されます。ラップ情報を取得するには次のように呼び出してください。:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getPeriods</span><span class="p">();</span>
</pre></div>
</div>
<p>イベントオブジェクトからは、ピリオドだけでなく他の情報も取得することができます。
例えば:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getCategory</span><span class="p">();</span>      <span class="c1">// イベントのカテゴリを取得</span>
<span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getOrigin</span><span class="p">();</span>        <span class="c1">// イベントの開始時刻をマイクロ秒まで取得</span>
<span class="nv">$event</span><span class="o">-&gt;</span><span class="na">ensureStopped</span><span class="p">();</span>    <span class="c1">// まだ停止していないイベントを全て停止</span>
<span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getStartTime</span><span class="p">();</span>     <span class="c1">// 一番最初のピリオドの開始時刻を取得</span>
<span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getEndTime</span><span class="p">();</span>       <span class="c1">// 一番最後のピリオドの終了時刻を取得</span>
<span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getDuration</span><span class="p">();</span>      <span class="c1">// 全てのピリオドを通しての所要時間を取得</span>
<span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getMemory</span><span class="p">();</span>        <span class="c1">// 全てのピリオドを通してのメモリの最大使用量を取得</span>
</pre></div>
</div>
</div>
<div class="section" id="id4">
<h2>セクション<a class="headerlink" href="#id4" title="Permalink to this headline">¶</a></h2>
<p>セクションではタイムラインを論理的にグループ分けすることができます。Symfony Profilter toolを見ると、Symfonyがフレームワークのライフサイクルを視覚化するのにセクションをうまく利用していることがわかります。下記は基本的なセクションの使い方です。:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$stopwatch</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Stopwatch</span><span class="p">();</span>

<span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">openSection</span><span class="p">();</span>
<span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">start</span><span class="p">(</span><span class="s1">&#39;parsing_config_file&#39;</span><span class="p">,</span> <span class="s1">&#39;filesystem_operations&#39;</span><span class="p">);</span>
<span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">stopSection</span><span class="p">(</span><span class="s1">&#39;routing&#39;</span><span class="p">);</span>

<span class="nv">$events</span> <span class="o">=</span> <span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">getSectionEvents</span><span class="p">(</span><span class="s1">&#39;routing&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Stopwatch/Stopwatch.html#method_openSection`" title="Symfony\Component\Stopwatch\Stopwatch::openSection`()"><span class="pre">openSection`()</span></a></tt> メソッドを使うと、一度閉じたセクションを指定して再度開くことができます。:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">openSection</span><span class="p">(</span><span class="s1">&#39;routing&#39;</span><span class="p">);</span>
<span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">start</span><span class="p">(</span><span class="s1">&#39;building_config_tree&#39;</span><span class="p">);</span>
<span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">stopSection</span><span class="p">(</span><span class="s1">&#39;routing&#39;</span><span class="p">);</span>
</pre></div>
</div>
</div>
</div>


<div id="page_prev_next">
<a class="prev" href="serializer.html">< Serializerコンポーネント</a>
<a class="next" href="templating.html">Templatingコンポーネント ></a>
</div>

<div class="common_content_footer">
<ul>
  <li> → <a href="http://symfony.com/doc/current/components/stopwatch.html">公式英語ドキュメント</a></li>
  <li> → <a href="https://github.com/symfony/symfony-docs/commits/master/components/stopwatch.rst">原文コミット履歴</a>
  <li> → <a href="https://github.com/symfony-japan/symfony-docs-ja/commits/master/components/stopwatch.rst">翻訳コミット履歴</a>
</ul>
<br />
翻訳の不備などは、お気軽にコメント欄にてご指摘ください。
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'symfony-japan'; // required: replace example with your forum shortname

    // The following are highly recommended additional parameters. Remove the slashes in front to use.
    // var disqus_identifier = 'unique_dynamic_id_1234';
    // var disqus_url = 'http://example.com/permalink-to-page.html';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

<div class="fb-like-box" data-href="http://www.facebook.com/symfonyjapan" data-width="203" data-show-faces="true" data-stream="true" data-border-color="#FFF" data-header="true"></div>

          </div>
        </div>
      </div>

      <div class="clearer"></div>
    </div>

      </div>
      <!-- end #main -->
    </div>
    <!-- end #content_wrapper -->
  </div>
  <!-- end #content -->


  <div id="footer">
    <div id="footer_wrapper">
      <div id="footer_content">
        <div style=" position: relative;">
          <div id="footer_left"></div>
          <div id="footer_right"></div>
        </div>
        <div id="f_navbar">
        <ul>
          <li><a href="../index.html">トップ（索引）</a></li>
          <li><a href="../quick_tour/index.html">クイックツアー</a></li>
          <li><a href="../book/index.html">ガイドブック</a></li>
          <li><a href="../best_practices/index.html">ベストプラクティス</a></li>
          <li><a href="../cookbook/index.html">クックブック</a></li>
          <li><a href="index.html">コンポーネント</a></li>
          <li><a href="../reference/index.html">リファレンス</a></li>
          <li><a href="../contributing/index.html">貢献</a></li>
        </ul>
      </div>
      <!-- end #navbar -->
        <div>
          <p id="copyright">
            <a href="../contributing/documentation/license.html">ドキュメントの著作権</a>は Symfony 公式に準じます(Creative Commons Attribution-Share Alike 3.0 Unported ライセンス)。<br />
            Copyright &copy; 2014 Symfony Japan. All rights reserved.<br />
            &nbsp;&nbsp;&nbsp;Bandwidth and hardware provided by <a href="http://www.asial.co.jp/">アシアル株式会社</a>
            &nbsp;&nbsp;Powered by <a href="http://sphinx.pocoo.org/">Sphinx</a>
          </p>
        </div>
      </div>
      <!-- end #footer_content -->
        </div>
        <!-- end #footer_wrapper -->
      </div>
      <!-- end #footer -->
    </div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16659283-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
</html>
