
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Templatingコンポーネント | Symfony2日本語ドキュメント</title>
    <link rel="stylesheet" href="../static/basic.css" type="text/css" />
    <link rel="stylesheet" href="../static/pygments.css" type="text/css" />
    <link rel="stylesheet" href="../static/configurationblock.css" type="text/css" />
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '1.0.0',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../static/jquery.js"></script>
    <script type="text/javascript" src="../static/underscore.js"></script>
    <script type="text/javascript" src="../static/doctools.js"></script>
      <script type="text/javascript" src="../static/js/jquery.corner.js"></script>
      <script type="text/javascript" src="../static/configurationblock.js"></script>
      <script type="text/javascript">
      $(function(){
          $('.section h1').corner();
          $('.highlight-python pre').corner();
          $('.highlight-yml pre').corner();
          $('.highlight').corner();
      });
      </script>
    <link rel="top" title="Symfony2Doc 1.0.0 documentation" href="../index.html" />
    <link rel="up" title="コンポーネント" href="index.html" />
    <link rel="next" title="YAMLコンポーネント" href="yaml.html" />
    <link rel="prev" title="Stopwatchコンポーネント" href="stopwatch.html" /> 
  </head>
  <body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=47270766548";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="all">
  <div id="content">
    <div id="content_wrapper">
      <div id="top_menu">
        <div id="top_menu_wrapper">
        </div>
      </div>
      <div id="header_top">
        <h1 id="logo_top"><a href="http://docs.symfony.gr.jp/">Symfonyユーザー会ドキュメントポータル</a></h1>
        <div id="header_top_left"></div>
      </div>
      <!-- end #header -->
      <div id="navbar">
        <ul>
          <li><a href="../index.html">トップ（索引）</a></li>
          <li><a href="../quick_tour/index.html">クイックツアー</a></li>
          <li><a href="../book/index.html">ガイドブック</a></li>
          <li><a href="../cookbook/index.html">クックブック</a></li>
          <li><a href="index.html">コンポーネント</a></li>
          <li><a href="../reference/index.html">リファレンス</a></li>
          <li><a href="../contributing/index.html">貢献</a></li>
        </ul>
      </div>
      <!-- end #navbar -->
      <div id="main">
<a href="/">Home</a> |
<a href="../index.html">Symfony2Doc</a>
&raquo;<a href="index.html">コンポーネント</a>
&raquo;Templatingコンポーネント

  
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3>このページのコンテンツ</h3>
  <ul>
<li><a class="reference internal" href="#">Templatingコンポーネント</a><ul>
<li><a class="reference internal" href="#id1">インストール</a></li>
<li><a class="reference internal" href="#id2">使い方</a></li>
<li><a class="reference internal" href="#id3">スロットを利用したテンプレートの継承</a></li>
<li><a class="reference internal" href="#id4">出力エスケープ</a></li>
<li><a class="reference internal" href="#id5">アセットヘルパー</a></li>
</ul>
</li>
</ul>

  <h4>前のドキュメント</h4>
  <p class="topless"><a href="stopwatch.html"
                        title="previous chapter">Stopwatchコンポーネント</a></p>
  <h4>次のドキュメント</h4>
  <p class="topless"><a href="yaml.html"
                        title="next chapter">YAMLコンポーネント</a></p>
  <h3>ソース</h3>
  <ul class="this-page-menu">
    <li><a href="../sources/components/templating.txt"
           rel="nofollow">ページのソースを表示</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>クイック検索</h3>
    <form class="search" action="../search.html" method="get">
      <input type="text" name="q" size="18" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
          <br />
          <br />
          <div id="other">
            <h3>クイックリンク</h3>
            <ul>
              <li><a href="../book/installation.html">インストール方法</a></li>
              <li><a href="../reference/forms/types.html">FormTypeリファレンス</a></li>
              <li><a href="../reference/constraints.html">バリデータリファレンス</a></li>
              <li><a href="http://twig.sensiolabs.org/documentation">Twigリファレンス</a></li>
              <li><a href="http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/annotations-reference.html">Doctrine ORMアノテーションリファレンス</a></li>
            </ul>

<br />
            <h3>コメントリスト</h3>

<script type="text/javascript" src="http://symfony-japan.disqus.com/combination_widget.js?num_items=10&hide_mods=0&color=grey&default_tab=recent&excerpt_length=200"></script><a href="http://disqus.com/">Powered by Disqus</a>


            <br />
            <p>ご質問や翻訳不備等お気軽にコメントください。</p>

            <br />
          </div>
        </div>
      </div>

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            

<p>コンテンツ上部に更新日の記載のないページは、翻訳の内容が2.0相当のものになっております。最新の内容は<a href="http://symfony.com/doc/current/components/templating.html">原文のページ</a>をご確認ください。</p>

  <div class="admonition note" id="index-0">
<p class="first admonition-title">Note</p>
<ul class="last simple">
<li>翻訳更新日：2013/04/09</li>
</ul>
</div>
<div class="section" id="templating">
<h1>Templatingコンポーネント<a class="headerlink" href="#templating" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div><p>Templatingコンポーネントは、どんな種類のテンプレートシステムを作るのにも使うことができる全てのツールを提供します。</p>
<p>テンプレートファイルを読み込む仕組みはもちろん、使いたい場合はテンプレートファイルの変更を監視する仕組みを使うこともできます。PHPを使ったテンプレートエンジンもエスケープとテンプレートをブロックとレイアウトに分離する仕組みも含んでいます。</p>
</div></blockquote>
<div class="section" id="id1">
<h2>インストール<a class="headerlink" href="#id1" title="Permalink to this headline">¶</a></h2>
<p>コンポーネントをインストールする方法は何通りもあります。</p>
<ul class="simple">
<li>公式Gitレポジトリ (<a class="reference external" href="https://github.com/symfony/Templating">https://github.com/symfony/Templating</a>)</li>
<li><a class="reference internal" href="using_components.html"><em>Composer</em></a> (<a class="reference external" href="https://packagist.org/packages/symfony/templating">Packagist</a> の <tt class="docutils literal"><span class="pre">symfony/templating</span></tt>)</li>
</ul>
</div>
<div class="section" id="id2">
<h2>使い方<a class="headerlink" href="#id2" title="Permalink to this headline">¶</a></h2>
<p><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/PhpEngine.html" title="Symfony\Component\Templating\PhpEngine"><span class="pre">PhpEngine</span></a></tt> クラスはコンポーネントのエントリポイントです。このクラスは、テンプレート名をテンプレートリファレンスに変換するためのテンプレートネームパーサー( <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/TemplateNameParserInterface.html" title="Symfony\Component\Templating\TemplateNameParserInterface"><span class="pre">TemplateNameParserInterface</span></a></tt> )と、テンプレートリファレンスに対応するテンプレートファイルを見つけるためのテンプレートローダー( <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/Loader/LoaderInterface.html" title="Symfony\Component\Templating\Loader\LoaderInterface"><span class="pre">LoaderInterface</span></a></tt> )を要求します。</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Templating\PhpEngine</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Templating\TemplateNameParser</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Templating\Loader\FilesystemLoader</span><span class="p">;</span>

<span class="nv">$loader</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">FilesystemLoader</span><span class="p">(</span><span class="nx">__DIR__</span> <span class="o">.</span> <span class="s1">&#39;/views/%name%&#39;</span><span class="p">);</span>

<span class="nv">$view</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">PhpEngine</span><span class="p">(</span><span class="k">new</span> <span class="nx">TemplateNameParser</span><span class="p">(),</span> <span class="nv">$loader</span><span class="p">);</span>

<span class="k">echo</span> <span class="nv">$view</span><span class="o">-&gt;</span><span class="na">render</span><span class="p">(</span><span class="s1">&#39;hello.php&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;firstname&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;Fabien&#39;</span><span class="p">));</span>
</pre></div>
</div>
<p><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/PhpEngine.html#method_render" title="Symfony\Component\Templating\PhpEngine::render()"><span class="pre">render()</span></a></tt> メソッドは <cite>views/hello.php</cite> ファイルを実行し、出力内容を返します。</p>
<div class="highlight-html+php"><div class="highlight"><pre><span class="c">&lt;!-- views/hello.php --&gt;</span>
Hello, <span class="cp">&lt;?php</span> <span class="k">echo</span> <span class="nv">$firstname</span> <span class="cp">?&gt;</span>!
</pre></div>
</div>
</div>
<div class="section" id="id3">
<h2>スロットを利用したテンプレートの継承<a class="headerlink" href="#id3" title="Permalink to this headline">¶</a></h2>
<p>テンプレートの継承により、多くのテンプレートの間でレイアウトを共通化することができます。</p>
<div class="highlight-html+php"><div class="highlight"><pre><span class="c">&lt;!-- views/layout.php --&gt;</span>
<span class="nt">&lt;html&gt;</span>
    <span class="nt">&lt;head&gt;</span>
        <span class="nt">&lt;title&gt;</span><span class="cp">&lt;?php</span> <span class="nv">$view</span><span class="p">[</span><span class="s1">&#39;slots&#39;</span><span class="p">]</span><span class="o">-&gt;</span><span class="na">output</span><span class="p">(</span><span class="s1">&#39;title&#39;</span><span class="p">,</span> <span class="s1">&#39;Default title&#39;</span><span class="p">)</span> <span class="cp">?&gt;</span><span class="nt">&lt;/title&gt;</span>
    <span class="nt">&lt;/head&gt;</span>
    <span class="nt">&lt;body&gt;</span>
        <span class="cp">&lt;?php</span> <span class="nv">$view</span><span class="p">[</span><span class="s1">&#39;slots&#39;</span><span class="p">]</span><span class="o">-&gt;</span><span class="na">output</span><span class="p">(</span><span class="s1">&#39;_content&#39;</span><span class="p">)</span> <span class="cp">?&gt;</span>
    <span class="nt">&lt;/body&gt;</span>
<span class="nt">&lt;/html&gt;</span>
</pre></div>
</div>
<p><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/PhpEngine.html#method_extend" title="Symfony\Component\Templating\PhpEngine::extend()"><span class="pre">extend()</span></a></tt> メソッドは、個別のテンプレートの中で親テンプレートを指定するときに使います。</p>
<div class="highlight-html+php"><div class="highlight"><pre><span class="c">&lt;!-- views/page.php --&gt;</span>
<span class="cp">&lt;?php</span> <span class="nv">$view</span><span class="o">-&gt;</span><span class="na">extend</span><span class="p">(</span><span class="s1">&#39;layout.php&#39;</span><span class="p">)</span> <span class="cp">?&gt;</span>

<span class="cp">&lt;?php</span> <span class="nv">$view</span><span class="p">[</span><span class="s1">&#39;slots&#39;</span><span class="p">]</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="s1">&#39;title&#39;</span><span class="p">,</span> <span class="nv">$page</span><span class="o">-&gt;</span><span class="na">title</span><span class="p">)</span> <span class="cp">?&gt;</span>

<span class="nt">&lt;h1&gt;</span>
    <span class="cp">&lt;?php</span> <span class="k">echo</span> <span class="nv">$page</span><span class="o">-&gt;</span><span class="na">title</span> <span class="cp">?&gt;</span>
<span class="nt">&lt;/h1&gt;</span>
<span class="nt">&lt;p&gt;</span>
    <span class="cp">&lt;?php</span> <span class="k">echo</span> <span class="nv">$page</span><span class="o">-&gt;</span><span class="na">body</span> <span class="cp">?&gt;</span>
<span class="nt">&lt;/p&gt;</span>
</pre></div>
</div>
<p>テンプレート継承を使うには、 <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/Helper/SlotsHelper.html" title="Symfony\Component\Templating\Helper\SlotsHelper"><span class="pre">SlotsHelper</span></a></tt> ヘルパーを有効化する必要があります。</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Templating\Helper\SlotsHelper</span><span class="p">;</span>

<span class="nv">$view</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="k">new</span> <span class="nx">SlotsHelper</span><span class="p">());</span>

<span class="c1">// ページのインスタンスを取得</span>
<span class="nv">$page</span> <span class="o">=</span> <span class="o">...</span><span class="p">;</span>

<span class="k">echo</span> <span class="nv">$view</span><span class="o">-&gt;</span><span class="na">render</span><span class="p">(</span><span class="s1">&#39;page.php&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;page&#39;</span> <span class="o">=&gt;</span> <span class="nv">$page</span><span class="p">));</span>
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">テンプレートは多重継承できます。つまり、レイアウトのテンプレートは他のレイアウトを継承できます。</p>
</div>
</div>
<div class="section" id="id4">
<h2>出力エスケープ<a class="headerlink" href="#id4" title="Permalink to this headline">¶</a></h2>
<p>この章はまだ執筆途中です。</p>
</div>
<div class="section" id="id5">
<h2>アセットヘルパー<a class="headerlink" href="#id5" title="Permalink to this headline">¶</a></h2>
<p>この章はまだ執筆途中です。</p>
</div>
</div>


<div id="page_prev_next">
<a class="prev" href="stopwatch.html">< Stopwatchコンポーネント</a>
<a class="next" href="yaml.html">YAMLコンポーネント ></a>
</div>

<div class="common_content_footer">
<ul>
  <li> → <a href="http://symfony.com/doc/current/components/templating.html">公式英語ドキュメント</a></li>
  <li> → <a href="https://github.com/symfony/symfony-docs/commits/master/components/templating.rst">原文コミット履歴</a>
  <li> → <a href="https://github.com/symfony-japan/symfony-docs-ja/commits/master/components/templating.rst">翻訳コミット履歴</a>
</ul>
<br />
翻訳の不備などは、お気軽にコメント欄にてご指摘ください。
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'symfony-japan'; // required: replace example with your forum shortname

    // The following are highly recommended additional parameters. Remove the slashes in front to use.
    // var disqus_identifier = 'unique_dynamic_id_1234';
    // var disqus_url = 'http://example.com/permalink-to-page.html';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

<div class="fb-like-box" data-href="http://www.facebook.com/symfonyjapan" data-width="203" data-show-faces="true" data-stream="true" data-border-color="#FFF" data-header="true"></div>

          </div>
        </div>
      </div>

      <div class="clearer"></div>
    </div>

      </div>
      <!-- end #main -->
    </div>
    <!-- end #content_wrapper -->
  </div>
  <!-- end #content -->


  <div id="footer">
    <div id="footer_wrapper">
      <div id="footer_content">
        <div style=" position: relative;">
          <div id="footer_left"></div>
          <div id="footer_right"></div>
        </div>
        <div id="f_navbar">
        <ul>
          <li><a href="../index.html">トップ（索引）</a></li>
          <li><a href="../quick_tour/index.html">クイックツアー</a></li>
          <li><a href="../book/index.html">ガイドブック</a></li>
          <li><a href="../cookbook/index.html">クックブック</a></li>
          <li><a href="index.html">コンポーネント</a></li>
          <li><a href="../reference/index.html">リファレンス</a></li>
          <li><a href="../contributing/index.html">貢献</a></li>
        </ul>
      </div>
      <!-- end #navbar -->
        <div>
          <p id="copyright">
            <a href="../contributing/documentation/license.html">ドキュメントの著作権</a>は Symfony 公式に準じます(Creative Commons Attribution-Share Alike 3.0 Unported ライセンス)。<br />
            Copyright &copy; 2014 Symfony Japan. All rights reserved.<br />
            &nbsp;&nbsp;&nbsp;Bandwidth and hardware provided by <a href="http://www.asial.co.jp/">アシアル株式会社</a>
            &nbsp;&nbsp;Powered by <a href="http://sphinx.pocoo.org/">Sphinx</a>
          </p>
        </div>
      </div>
      <!-- end #footer_content -->
        </div>
        <!-- end #footer_wrapper -->
      </div>
      <!-- end #footer -->
    </div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16659283-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
</html>
